language: python
cache: pip
dist: trusty
sudo: false

matrix:
    include:
        - python: '2.7'
        - python: '3.5'
        - python: '3.6'
        - python: '3.7'
          dist: xenial
          sudo: true

install:
  - pip install -r requirements.txt
  - pip install -r dev_requirements.txt
  - pip install python-coveralls

script:
    - make lint && make ci

after_success:
    - make coverage
