# Development
pytest >= 4.4.1
pytest-cov >= 2.6.1
pytest-xdist >= 1.28.0
pytest-forked >= 1.0.2
pytest-watch >= 4.2.0
pytest-timeout >= 1.3.3
pytest-env >= 0.6.2
responses >= 0.10.6
flake8 >= 3.7.7
tox >= 3.9.0
coveralls >= 1.7.0
autopep8 >= 1.4.4
js2py >= 0.60
