# Production Dependencies
requests >= 2.31.0
requests_toolbelt >= 1.0.0
pyparsing >= 3.1.0
pyOpenSSL >= 24.0.0
pycryptodome >= 3.20.0
websocket-client >= 1.7.0
js2py >= 0.74
brotli >= 1.1.0
certifi >= 2024.2.2